.headFeed {
  font-weight: 700;
  font-size: 50px;
}
.headAlign {
  margin-left: 50px;
  margin-top: 20px;
}
.Language-Head {
  font-weight: 500;
  font-size: 20px;
}
.Languages js{
  margin-left: 20px;
  margin-right: 20px;
  width: 130px;
  padding: 3px 10px 3px 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 8px;
  font-weight: 450;
  border: none;
  height: 35px;

  border-style: solid;
  border-color: red;
  margin-top: 10px;
}
.Languages-js{
    
    width: 180px;
    padding: 3px 10px 3px 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    font-weight: 450;
    border: none;
    height: 35px;
    display:flex;
    justify-content: space-between;
  
    border-style: solid;
    border-color: red;
    margin-top: 10px;
  }
  .small-follow{
    font-size: 10px;
    padding-top: 5px;
  }
  .Languages-css{
    
    width: 180px;
    padding: 3px 10px 3px 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    font-weight: 450;
    border: none;
    height: 35px;
    display:flex;
    justify-content: space-between;
    border-style: solid;
    border-color: yellow;
    margin-top: 10px;
  }
  .Languages-mozilla{
    
    width: 180px;
    padding: 3px 10px 3px 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    font-weight: 450;
    display:flex;
    justify-content: space-between;
    border: none;
    height: 35px;
    background-color: aqua;
    border-style: solid;
    color: white;
    margin-top: 10px;
  }
  .Languages-google{
    
    width: 180px;
    padding: 3px 10px 3px 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    font-weight: 450;
    display:flex;
    justify-content: space-between;
    border: none;
    height: 35px;
    background-color: blue;
    border-style: solid;
    color: white;
    margin-top: 10px;
  }
  .tag1{
    
    padding: 3px 10px 3px 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    font-weight: 450;
    border: none;
    height: 35px;
    background-color: blue;
    border-style: solid;
    color: white;
    margin-top: 10px;
    width: fit-content;
  }
  .btn-drop{
    border: none;
    background-color: white;
  }
  .tag2{
    
    padding: 3px 10px 3px 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    font-weight: 450;
    border: none;
    height: 35px;
    background-color: magenta;
    border-style: solid;
    color: white;
    margin-top: 10px;
    width: fit-content;
  }
  .tag3{
    width: fit-content;
    padding: 3px 10px 3px 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    font-weight: 450;
    border: none;
    height: 35px;
    background-color: pink;
    border-style: solid;
    color: white;
    margin-top: 10px;
  }
  .Languages-facebook{
    
    width: 180px;
    padding: 3px 10px 3px 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    font-weight: 450;
    border: none;
    height: 35px;
    background-color: red;
    border-style: solid;
    color: white;
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
  }
  .lang-space{
      margin-right: 5px;
  }
  .Languages-node{
    
    width: 180px;
    padding: 3px 10px 3px 10px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    font-weight: 450;
    border: none;
    height: 35px;
    display:flex;
    justify-content: space-between;
    border-style: solid;
    border-color: green;
    margin-top: 10px;
  }
  /* .Languages{
      margin-left:11px;
  } */
  .disp-flex{
      display:flex;
  }
  .disp-flex-intro{
    display:flex;
  }
.disp-flex-intro :first-child {
  width:80%;
}

  .content{
    margin-top:25px;
  }
  .intro-image{
    margin-top:20px;
  }
  .Languages-num{
      margin-top:15px;
      font-weight: 450;
      font-size: 20px;
      margin-right:10px;
      width:10px;
  }
  .smallbox {
    margin-left:50px;
    font-weight: 600;
    border-radius: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width:260px;
    margin-top: 50px;
    box-shadow: 0 0 5px #888888;
    padding-bottom: 15px;
    /* width:fit-content; */

    margin-right: 40px;
  }
  